<footer> <a href="#" class="button alt">Pagination.</a>
    <p class="well">If you have a web site with lots of pages, you may wish to add some sort of pagination to each page.
        <br/>
        <br/>A basic pagination in Bootstrap looks like this:</p>
    <div class="wrapper">
        <p class="well">&lt;ul class=&quot;pagination&quot;&gt;
            <br/> &lt;li&gt;&lt;a href=&quot;#&quot;&gt;1&lt;/a&gt;&lt;/li&gt;
            <br/> &lt;li&gt;&lt;a href=&quot;#&quot;&gt;2&lt;/a&gt;&lt;/li&gt;
            <br/> &lt;li&gt;&lt;a href=&quot;#&quot;&gt;3&lt;/a&gt;&lt;/li&gt;
            <br/> &lt;li&gt;&lt;a href=&quot;#&quot;&gt;4&lt;/a&gt;&lt;/li&gt;
            <br/> &lt;li&gt;&lt;a href=&quot;#&quot;&gt;5&lt;/a&gt;&lt;/li&gt;
            <br/>&lt;/ul&gt;</p>
    </div>
</footer>