<footer> <a href="#" class="button alt">What is Pager?.</a>
    <p class="well">Pager is also a form of pagination (as described in the previous chapter).
        <br/>
        <br/>Pager provides previous and next buttons (links).
        <br/>
        <br/>To create previous/next buttons, add the .pager class to an &lt;ul&gt; element:</p>
    <div class="wrapper">
        <p class="well">&lt;ul class=&quot;pager&quot;&gt;
            <br/> &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Previous&lt;/a&gt;&lt;/li&gt;
            <br/> &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Next&lt;/a&gt;&lt;/li&gt;
            <br/>&lt;/ul&gt;</p>
    </div>
</footer>