<footer> <a href="#" class="button alt">Basic Dropdown.</a>
    <p class="well">A dropdown menu is a toggleable menu that allows the user to choose one value from a predefined list:</p> <img src="images/drop.png">
    <div class="wrapper">
        <p class="well">&lt;div class=&quot;dropdown&quot;&gt;
            <br/> &lt;button class=&quot;btn btn-primary dropdown-toggle&quot; type=&quot;button&quot; data-toggle=&quot;dropdown&quot;&gt;Dropdown Example
            <br/> &lt;span class=&quot;caret&quot;&gt;&lt;/span&gt;&lt;/button&gt;
            <br/> &lt;ul class=&quot;dropdown-menu&quot;&gt;
            <br/> &lt;li&gt;&lt;a href=&quot;#&quot;&gt;HTML&lt;/a&gt;&lt;/li&gt;
            <br/> &lt;li&gt;&lt;a href=&quot;#&quot;&gt;CSS&lt;/a&gt;&lt;/li&gt;
            <br/> &lt;li&gt;&lt;a href=&quot;#&quot;&gt;JavaScript&lt;/a&gt;&lt;/li&gt;
            <br/> &lt;/ul&gt;
            <br/>&lt;/div&gt;</p>
    </div>
</footer>