<footer> <a href="#" class="button alt">Basic Collapsible.</a>
    <div class="wrapper">
        <p class="well">&lt;button data-toggle=&quot;collapse&quot; data-target=&quot;#demo&quot;&gt;Collapsible&lt;/button&gt;
            <br/>
            <br/>&lt;div id=&quot;demo&quot; class=&quot;collapse&quot;&gt;
            <br/>Lorem ipsum dolor text....
            <br/>&lt;/div&gt;</p>
    </div> <a href="#" class="button alt">Collapsible Panel.</a>
    <div class="wrapper">
        <p class="well">&lt;div class=&quot;panel-group&quot;&gt;
            <br/> &lt;div class=&quot;panel panel-default&quot;&gt;
            <br/> &lt;div class=&quot;panel-heading&quot;&gt;
            <br/> &lt;h4 class=&quot;panel-title&quot;&gt;
            <br/> &lt;a data-toggle=&quot;collapse&quot; href=&quot;#collapse1&quot;&gt;Collapsible panel&lt;/a&gt;
            <br/> &lt;/h4&gt;
            <br/> &lt;/div&gt;
            <br/> &lt;div id=&quot;collapse1&quot; class=&quot;panel-collapse collapse&quot;&gt;
            <br/> &lt;div class=&quot;panel-body&quot;&gt;Panel Body&lt;/div&gt;
            <br/> &lt;div class=&quot;panel-footer&quot;&gt;Panel Footer&lt;/div&gt;
            <br/> &lt;/div&gt;
            <br/> &lt;/div&gt;
            <br/>&lt;/div&gt;
            <br/>
        </p>
    </div> <a href="#" class="button alt">Collapsible List Group.</a>
    <div class="wrapper">
        <p class="well">&lt;div class=&quot;panel-group&quot;&gt;
            <br/> &lt;div class=&quot;panel panel-default&quot;&gt;
            <br/> &lt;div class=&quot;panel-heading&quot;&gt;
            <br/> &lt;h4 class=&quot;panel-title&quot;&gt;
            <br/> &lt;a data-toggle=&quot;collapse&quot; href=&quot;#collapse1&quot;&gt;Collapsible list group&lt;/a&gt;
            <br/> &lt;/h4&gt;
            <br/> &lt;/div&gt;
            <br/> &lt;div id=&quot;collapse1&quot; class=&quot;panel-collapse collapse&quot;&gt;
            <br/> &lt;ul class=&quot;list-group&quot;&gt;
            <br/> &lt;li class=&quot;list-group-item&quot;&gt;One&lt;/li&gt;
            <br/> &lt;li class=&quot;list-group-item&quot;&gt;Two&lt;/li&gt;
            <br/> &lt;li class=&quot;list-group-item&quot;&gt;Three&lt;/li&gt;
            <br/> &lt;/ul&gt;
            <br/> &lt;div class=&quot;panel-footer&quot;&gt;Footer&lt;/div&gt;
            <br/> &lt;/div&gt;
            <br/> &lt;/div&gt;
            <br/>&lt;/div&gt;</p>
    </div>
</footer>