<footer> <a href="#" class="button alt">Grid Classes.</a>
    <p class="well">The Bootstrap grid system has four classes:
        <br/>
        <br/>xs (for phones)
        <br/>sm (for tablets)
        <br/>md (for desktops)
        <br/>lg (for larger desktops)</p> <a href="#" class="button alt">Basic Structure of a Bootstrap Grid.</a>
    <p class="well">The following is a basic structure of a Bootstrap grid:</p>
    <div class="wrapper">
        <p class="well">&lt;div class=&quot;row&quot;&gt;
            <br/> &lt;div class=&quot;col-*-*&quot;&gt;&lt;/div&gt;
            <br/>&lt;/div&gt;
            <br/>&lt;div class=&quot;row&quot;&gt;
            <br/> &lt;div class=&quot;col-*-*&quot;&gt;&lt;/div&gt;
            <br/> &lt;div class=&quot;col-*-*&quot;&gt;&lt;/div&gt;
            <br/> &lt;div class=&quot;col-*-*&quot;&gt;&lt;/div&gt;
            <br/>&lt;/div&gt;
            <br/>&lt;div class=&quot;row&quot;&gt;
            <br/> ...
            <br/>&lt;/div&gt;</p>
    </div>
    <p class="well">First; create a row (&lt;div class=&quot;row&quot;&gt;). Then, add the desired number of columns (tags with appropriate .col-*-* classes). Note that numbers in .col-*-* should always add up to 12 for each row.
        <br/>
        <br/>Below we have collected some examples of basic Bootstrap grid layouts.</p> <a href="#" class="button alt">Three Equal Columns.</a>
    <p class="well">The following example shows how to get a three equal-width columns starting at tablets and scaling to large desktops. On mobile phones, the columns will automatically stack:</p>
    <div class="wrapper">
        <p class="well">&lt;div class=&quot;row&quot;&gt;
            <br/> &lt;div class=&quot;col-sm-4&quot;&gt;.col-sm-4&lt;/div&gt;
            <br/> &lt;div class=&quot;col-sm-4&quot;&gt;.col-sm-4&lt;/div&gt;
            <br/> &lt;div class=&quot;col-sm-4&quot;&gt;.col-sm-4&lt;/div&gt;
            <br/>&lt;/div&gt;</p>
    </div> <a href="#" class="button alt">Two Unequal Columns.</a>
    <p class="well">The following example shows how to get two various-width columns starting at tablets and scaling to large desktops:</p>
    <div class="wrapper">
        <p class="well">&lt;div class=&quot;row&quot;&gt;
            <br/> &lt;div class=&quot;col-sm-4&quot;&gt;.col-sm-4&lt;/div&gt;
            <br/> &lt;div class=&quot;col-sm-8&quot;&gt;.col-sm-8&lt;/div&gt;
            <br/>&lt;/div&gt;</p>
    </div>
</footer>
								