<footer> <a href="#" class="button alt">Responsive Tables.</a>
    <p class="well">The .table-responsive class creates a responsive table. The table will then scroll horizontally on small devices (under 768px). When viewing on anything larger than 768px wide, there is no difference:</p>
    <div class="wrapper">
        <p class="well">&lt;div class=&quot;table-responsive&quot;&gt;
            <br/> &lt;table class=&quot;table&quot;&gt;
            <br/> ...
            <br/> &lt;/table&gt;
            <br/>&lt;/div&gt;</p>
    </div>
</footer>
