<footer> <a href="#" class="button alt">Jumbotron Inside Container.</a>
    <p class="well">Place the jumbotron inside the &lt;div class=&quot;container&quot;&gt; if you want the jumbotron to NOT extend to the edge of the screen:</p>
    <div class="wrapper">
        <p class="well">&lt;div class=&quot;container&quot;&gt;
            <br/> &lt;div class=&quot;jumbotron&quot;&gt;
            <br/> &lt;h1&gt;Bootstrap Tutorial&lt;/h1&gt;
            <br/> &lt;p&gt;Bootstrap is the most popular HTML, CSS, and JS framework for developing
            <br/> responsive, mobile-first projects on the web.&lt;/p&gt;
            <br/> &lt;/div&gt;
            <br/> &lt;p&gt;This is some text.&lt;/p&gt;
            <br/> &lt;p&gt;This is another text.&lt;/p&gt;
            <br/>&lt;/div&gt;</p>
    </div> <a href="#" class="button alt">Jumbotron Outside Container.</a>
    <p class="well">Place the jumbotron outside the &lt;div class=&quot;container&quot;&gt; if you want the jumbotron to extend to the screen edges:</p>
    <div class="wrapper">
        <p class="well">&lt;div class=&quot;jumbotron&quot;&gt;
            <br/> &lt;h1&gt;Bootstrap Tutorial&lt;/h1&gt;
            <br/> &lt;p&gt;Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive,
            <br/> mobile-first projects on the web.&lt;/p&gt;
            <br/>&lt;/div&gt;
            <br/>&lt;div class=&quot;container&quot;&gt;
            <br/> &lt;p&gt;This is some text.&lt;/p&gt;
            <br/> &lt;p&gt;This is another text.&lt;/p&gt;
            <br/>&lt;/div&gt;</p>
    </div>
</footer>
									