<footer> <a href="#" class="button alt">Well Size.</a>
    <p class="well">Small Well
        <br/>Normal Well
        <br/>Large Well
        <br/>Change the size of the well by adding the .well-sm class for small wells or .well-lg class for large wells:</p>
    <div class="wrapper">
        <p class="well">&lt;div class=&quot;well well-sm&quot;&gt;Small Well&lt;/div&gt;
            <br/>&lt;div class=&quot;well well-lg&quot;&gt;Large Well&lt;/div&gt;</p>
    </div>
</footer>
									