<footer> <a href="#" class="button alt">Alerts.</a>
    <p class="well">Alerts are created with the .alert class, followed by one of the four contextual classes .alert-success, .alert-info, .alert-warning or .alert-danger:</p> <img src="images/img.png">
    <div class="wrapper">
        <p class="well">&lt;div class=&quot;alert alert-success&quot;&gt;
            <br/> &lt;strong&gt;Success!&lt;/strong&gt; Indicates a successful or positive action.
            <br/>&lt;/div&gt;
            <br/>
            <br/>&lt;div class=&quot;alert alert-info&quot;&gt;
            <br/> &lt;strong&gt;Info!&lt;/strong&gt; Indicates a neutral informative change or action.
            <br/>&lt;/div&gt;
            <br/>
            <br/>&lt;div class=&quot;alert alert-warning&quot;&gt;
            <br/> &lt;strong&gt;Warning!&lt;/strong&gt; Indicates a warning that might need attention.
            <br/>&lt;/div&gt;
            <br/>
            <br/>&lt;div class=&quot;alert alert-danger&quot;&gt;
            <br/> &lt;strong&gt;Danger!&lt;/strong&gt; Indicates a dangerous or potentially negative action.
            <br/>&lt;/div&gt;</p>
    </div> <a href="#" class="button alt">Closing Alerts.</a>
    <p class="well">To close the alert message, add class=&quot;close&quot; and data-dismiss=&quot;alert&quot; to a link or a button element:</p>
    <div class="wrapper">
        <p class="well">&lt;div class=&quot;alert alert-success&quot;&gt;
            <br/> &lt;a href=&quot;#&quot; class=&quot;close&quot; data-dismiss=&quot;alert&quot; aria-label=&quot;close&quot;&gt;&amp;times;&lt;/a&gt;
            <br/> &lt;strong&gt;Success!&lt;/strong&gt; Indicates a successful or positive action.
            <br/>&lt;/div&gt;</p>
    </div> <a href="#" class="button alt">Animated Alerts.</a>
    <p class="well">The .fade and .in classes adds a fading effect when closing the alert message:</p>
    <div class="wrapper">
        <p class="well">
            <div class="alert alert-success fade in">
        </p>
        </div>
</footer>