<footer> <a href="#" class="button alt">Button Styles.</a>
    <p class="well">Bootstrap provides seven styles of buttons:</p> <img src="images/button.png">
    <p class="well">.btn-default
        <br/>.btn-primary
        <br/>.btn-success
        <br/>.btn-info
        <br/>.btn-warning
        <br/>.btn-danger
        <br/>.btn-link</p>
    <div class="wrapper">
        <p class="well">&lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot;&gt;Default&lt;/button&gt;
            <br/>&lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;Primary&lt;/button&gt;
            <br/>&lt;button type=&quot;button&quot; class=&quot;btn btn-success&quot;&gt;Success&lt;/button&gt;
            <br/>&lt;button type=&quot;button&quot; class=&quot;btn btn-info&quot;&gt;Info&lt;/button&gt;
            <br/>&lt;button type=&quot;button&quot; class=&quot;btn btn-warning&quot;&gt;Warning&lt;/button&gt;
            <br/>&lt;button type=&quot;button&quot; class=&quot;btn btn-danger&quot;&gt;Danger&lt;/button&gt;
            <br/>&lt;button type=&quot;button&quot; class=&quot;btn btn-link&quot;&gt;Link&lt;/button&gt;</p>
    </div> <a href="#" class="button alt">Button Sizes.</a>
    <p class="well">Bootstrap provides four button sizes:</p> <img src="images/buttons.png">
    <p class="well">.btn-lg
        <br/>.btn-md
        <br/>.btn-sm
        <br/>.btn-xs</p>
    <div class="wrapper">
        <p class="well">&lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-lg&quot;&gt;Large&lt;/button&gt;
            <br/>&lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-md&quot;&gt;Medium&lt;/button&gt;
            <br/>&lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-sm&quot;&gt;Small&lt;/button&gt;
            <br/>&lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-xs&quot;&gt;XSmall&lt;/button&gt;</p>
    </div>
</footer>