html
  body
    footer
      a.button.alt(href='#') What is Bootstrap?.
      p.well
        | Bootstrap is a free front-end framework for faster and easier web development
        br
        | Bootstrap includes HTML and CSS based design templates for typography, forms, buttons, tables, navigation, modals, image carousels and many other, as well as optional JavaScript plugins
        br
        | Bootstrap also gives you the ability to easily create responsive designs
        br
      a.button.alt(href='#') Bootstrap History.
      p.well
        | Bootstrap was developed by Mark Otto and Jacob Thornton at Twitter, and released as an open source product in August 2011 on GitHub.
        br
        br
        | In June 2014 Bootstrap was the No.1 project on GitHub!
      a.button.alt(href='#') Why Use Bootstrap?.
      p.well
        | Advantages of Bootstrap:
        br
        br
        | Easy to use: Anybody with just basic knowledge of HTML and CSS can start using Bootstrap
        br
        | Responsive features: Bootstrap&apos;s responsive CSS adjusts to phones, tablets, and desktops
        br
        | Mobile-first approach: In Bootstrap 3, mobile-first styles are part of the core framework
        br
        | Browser compatibility: Bootstrap is compatible with all modern browsers (Chrome, Firefox, Internet Explorer, Safari, and Opera)
