html
  body
    footer
      a.button.alt(href='#') Glyphicons.
      p.well
        | Bootstrap provides 260 glyphicons from the Glyphicons Halflings set.
        br
        br
        | Glyphicons can be used in text, buttons, toolbars, navigation, forms, etc.
        br
        br
        | Here are some examples of glyphicons:
        br
        br
        | Envelope glyphicon:
        br
        br
        | Print glyphicon:
        br
        br
        | Search glyphicon:
        br
        br
        | Download glyphicon
      .wrapper
        p.well &lt;span class=&quot;glyphicon glyphicon-name&quot;&gt;&lt;/span&gt;
      a.button.alt(href='#') Glyphicon Example.
      p.well The following example shows different ways to use glyphicons:
      .wrapper
        p.well
          | &lt;p&gt;Envelope icon: &lt;span class=&quot;glyphicon glyphicon-envelope&quot;&gt;&lt;/span&gt;&lt;/p&gt;
          br
          | &lt;p&gt;Envelope icon as a link:
          br
          |  &lt;a href=&quot;#&quot;&gt;&lt;span class=&quot;glyphicon glyphicon-envelope&quot;&gt;&lt;/span&gt;&lt;/a&gt;
          br
          | &lt;/p&gt;
          br
          | &lt;p&gt;Search icon: &lt;span class=&quot;glyphicon glyphicon-search&quot;&gt;&lt;/span&gt;&lt;/p&gt;
          br
          | &lt;p&gt;Search icon on a button:
          br
          |  &lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot;&gt;
          br
          |  &lt;span class=&quot;glyphicon glyphicon-search&quot;&gt;&lt;/span&gt; Search
          br
          |  &lt;/button&gt;
          br
          | &lt;/p&gt;
          br
          | &lt;p&gt;Search icon on a styled button:
          br
          |  &lt;button type=&quot;button&quot; class=&quot;btn btn-info&quot;&gt;
          br
          |  &lt;span class=&quot;glyphicon glyphicon-search&quot;&gt;&lt;/span&gt; Search
          br
          |  &lt;/button&gt;
          br
          | &lt;/p&gt;
          br
          | &lt;p&gt;Print icon: &lt;span class=&quot;glyphicon glyphicon-print&quot;&gt;&lt;/span&gt;&lt;/p&gt;
          br
          | &lt;p&gt;Print icon on a styled link button:
          br
          |  &lt;a href=&quot;#&quot; class=&quot;btn btn-success btn-lg&quot;&gt;
          br
          |  &lt;span class=&quot;glyphicon glyphicon-print&quot;&gt;&lt;/span&gt; Print
          br
          |  &lt;/a&gt;
          br
          | &lt;/p&gt;
