html
  body
    footer
      a.button.alt(href='#') Colored Progress Bars.
      p.well
        | Contextual classes are used to provide &quot;meaning through colors&quot;.
        br
        br
        | The contextual classes that can be used with progress bars are:
        br
        br
        | .progress-bar-success
        br
        | .progress-bar-info
        br
        | .progress-bar-warning
        br
        | .progress-bar-danger
      .wrapper
        p.well
          | &lt;div class=&quot;progress&quot;&gt;
          br
          |  &lt;div class=&quot;progress-bar progress-bar-success&quot; role=&quot;progressbar&quot; aria-valuenow=&quot;40&quot;
          br
          |  aria-valuemin=&quot;0&quot; aria-valuemax=&quot;100&quot; style=&quot;width:40%&quot;&gt;
          br
          |  40% Complete (success)
          br
          |  &lt;/div&gt;
          br
          | &lt;/div&gt;
          br
          br
          | &lt;div class=&quot;progress&quot;&gt;
          br
          |  &lt;div class=&quot;progress-bar progress-bar-info&quot; role=&quot;progressbar&quot; aria-valuenow=&quot;50&quot;
          br
          |  aria-valuemin=&quot;0&quot; aria-valuemax=&quot;100&quot; style=&quot;width:50%&quot;&gt;
          br
          |  50% Complete (info)
          br
          |  &lt;/div&gt;
          br
          | &lt;/div&gt;
          br
          br
          | &lt;div class=&quot;progress&quot;&gt;
          br
          |  &lt;div class=&quot;progress-bar progress-bar-warning&quot; role=&quot;progressbar&quot; aria-valuenow=&quot;60&quot;
          br
          |  aria-valuemin=&quot;0&quot; aria-valuemax=&quot;100&quot; style=&quot;width:60%&quot;&gt;
          br
          |  60% Complete (warning)
          br
          |  &lt;/div&gt;
          br
          | &lt;/div&gt;
          br
          br
          | &lt;div class=&quot;progress&quot;&gt;
          br
          |  &lt;div class=&quot;progress-bar progress-bar-danger&quot; role=&quot;progressbar&quot; aria-valuenow=&quot;70&quot;
          br
          |  aria-valuemin=&quot;0&quot; aria-valuemax=&quot;100&quot; style=&quot;width:70%&quot;&gt;
          br
          |  70% Complete (danger)
          br
          |  &lt;/div&gt;
          br
          | &lt;/div&gt;
      img(src='images/pro1.png')
      a.button.alt(href='#') Striped Progress Bars.
      p.well Add class .progress-bar-striped to add stripes to the progress bars:
      img(src='images/pro2.png')
      .wrapper
        p.well
          | &lt;div class=&quot;progress&quot;&gt;
          br
          |  &lt;div class=&quot;progress-bar progress-bar-success progress-bar-striped&quot; role=&quot;progressbar&quot;
          br
          |  aria-valuenow=&quot;40&quot; aria-valuemin=&quot;0&quot; aria-valuemax=&quot;100&quot; style=&quot;width:40%&quot;&gt;
          br
          |  40% Complete (success)
          br
          |  &lt;/div&gt;
          br
          | &lt;/div&gt;
          br
          br
          | &lt;div class=&quot;progress&quot;&gt;
          br
          |  &lt;div class=&quot;progress-bar progress-bar-info progress-bar-striped&quot; role=&quot;progressbar&quot;
          br
          |  aria-valuenow=&quot;50&quot; aria-valuemin=&quot;0&quot; aria-valuemax=&quot;100&quot; style=&quot;width:50%&quot;&gt;
          br
          |  50% Complete (info)
          br
          |  &lt;/div&gt;
          br
          | &lt;/div&gt;
          br
          br
          | &lt;div class=&quot;progress&quot;&gt;
          br
          |  &lt;div class=&quot;progress-bar progress-bar-warning progress-bar-striped&quot; role=&quot;progressbar&quot;
          br
          |  aria-valuenow=&quot;60&quot; aria-valuemin=&quot;0&quot; aria-valuemax=&quot;100&quot; style=&quot;width:60%&quot;&gt;
          br
          |  60% Complete (warning)
          br
          |  &lt;/div&gt;
          br
          | &lt;/div&gt;
          br
          br
          | &lt;div class=&quot;progress&quot;&gt;
          br
          |  &lt;div class=&quot;progress-bar progress-bar-danger progress-bar-striped&quot; role=&quot;progressbar&quot;
          br
          |  aria-valuenow=&quot;70&quot; aria-valuemin=&quot;0&quot; aria-valuemax=&quot;100&quot; style=&quot;width:70%&quot;&gt;
          br
          |  70% Complete (danger)
          br
          |  &lt;/div&gt;
          br
          | &lt;/div&gt;
