html
  body
    footer
      a.button.alt(href='#') Basic List Groups.
      p.well
        | The most basic list group is an unordered list with list items:
        br
        br
        | First item
        br
        | Second item
        br
        | Third item
        br
        | To create a basic list group, use an &lt;ul&gt; element with class .list-group, and &lt;li&gt; elements with class .list-group-item:
      .wrapper
        p.well
          | &lt;ul class=&quot;list-group&quot;&gt;
          br
          |  &lt;li class=&quot;list-group-item&quot;&gt;First item&lt;/li&gt;
          br
          |  &lt;li class=&quot;list-group-item&quot;&gt;Second item&lt;/li&gt;
          br
          |  &lt;li class=&quot;list-group-item&quot;&gt;Third item&lt;/li&gt;
          br
          | &lt;/ul&gt;
