html
  body
    footer
      a.button.alt(href='#') Panels.
      p.well
        | Panels are created with the .panel class, and content inside the panel has a .panel-body class:
      .wrapper
        p.well
          | &lt;div class=&quot;panel panel-default&quot;&gt;
          br
          |  &lt;div class=&quot;panel-body&quot;&gt;A Basic Panel&lt;/div&gt;
          br
          | &lt;/div&gt;
      a.button.alt(href='#') Panel Heading.
      p.well The .panel-heading class adds a heading to the panel:
      .wrapper
        p.well
          | &lt;div class=&quot;panel panel-default&quot;&gt;
          br
          |  &lt;div class=&quot;panel-heading&quot;&gt;Panel Heading&lt;/div&gt;
          br
          |  &lt;div class=&quot;panel-body&quot;&gt;Panel Content&lt;/div&gt;
          br
          | &lt;/div&gt;
      a.button.alt(href='#') Panel Footer.
      p.well The .panel-footer class adds a footer to the panel:
      .wrapper
        p.well
          | &lt;div class=&quot;panel panel-default&quot;&gt;
          br
          |  &lt;div class=&quot;panel-body&quot;&gt;A Basic Panel&lt;/div&gt;
          br
          |  &lt;div class=&quot;panel-footer&quot;&gt;Panel Footer&lt;/div&gt;
          br
          | &lt;/div&gt;
      a.button.alt(href='#') Panel Group.
      p.well
        | To group many panels together, wrap a &lt;div&gt; with class .panel-group around them.
        br
        br
        | The .panel-group class clears the bottom-margin of each panel:
      .wrapper
        p.well
          | &lt;div class=&quot;panel-group&quot;&gt;
          br
          |  &lt;div class=&quot;panel panel-default&quot;&gt;
          br
          |  &lt;div class=&quot;panel-body&quot;&gt;Panel Content&lt;/div&gt;
          br
          |  &lt;/div&gt;
          br
          |  &lt;div class=&quot;panel panel-default&quot;&gt;
          br
          |  &lt;div class=&quot;panel-body&quot;&gt;Panel Content&lt;/div&gt;
          br
          |  &lt;/div&gt;
          br
          | &lt;/div&gt;
