html
  body
    footer
      a.button.alt(href='#') Bootstrap Form Control States.
      p.well
        | INPUT FOCUS - The outline of the input is removed and a box-shadow is applied on focus
        br
        | DISABLED INPUTS - Add a disabled attribute to disable an input field
        br
        | DISABLED FIELDSETS - Add a disabled attribute to a fieldset to disable all controls within
        br
        | READONLY INPUTS - Add a readonly attribute to an input to prevent user input
        br
        | VALIDATION STATES - Bootstrap includes validation styles for error, warning, and success messages. To use, add .has-warning, .has-error, or .has-success to the parent element
        br
        | ICONS - You can add feedback icons with the .has-feedback class and an icon
        br
        | HIDDEN LABELS - Add a .sr-only class on non-visible labels
        br
        | The following example demonstrates some of the form control states above in a Horizontal form:
      .wrapper
        p.well
          | &lt;form class=&quot;form-horizontal&quot; role=&quot;form&quot;&gt;
          br
          |  &lt;div class=&quot;form-group&quot;&gt;
          br
          |  &lt;label class=&quot;col-sm-2 control-label&quot;&gt;Focused&lt;/label&gt;
          br
          |  &lt;div class=&quot;col-sm-10&quot;&gt;
          br
          |  &lt;input class=&quot;form-control&quot; id=&quot;focusedInput&quot; type=&quot;text&quot; value=&quot;Click to focus&quot;&gt;
          br
          |  &lt;/div&gt;
          br
          |  &lt;/div&gt;
          br
          |  &lt;div class=&quot;form-group&quot;&gt;
          br
          |  &lt;label for=&quot;inputPassword&quot; class=&quot;col-sm-2 control-label&quot;&gt;Disabled&lt;/label&gt;
          br
          |  &lt;div class=&quot;col-sm-10&quot;&gt;
          br
          |  &lt;input class=&quot;form-control&quot; id=&quot;disabledInput&quot; type=&quot;text&quot; disabled&gt;
          br
          |  &lt;/div&gt;
          br
          |  &lt;/div&gt;
          br
          |  &lt;fieldset disabled&gt;
          br
          |  &lt;div class=&quot;form-group&quot;&gt;
          br
          |  &lt;label for=&quot;disabledTextInput&quot; class=&quot;col-sm-2 control-label&quot;&gt;Fieldset disabled&lt;/label&gt;
          br
          |  &lt;div class=&quot;col-sm-10&quot;&gt;
          br
          |  &lt;input type=&quot;text&quot; id=&quot;disabledTextInput&quot; class=&quot;form-control&quot;&gt;
          br
          |  &lt;/div&gt;
          br
          |  &lt;/div&gt;
          br
          |  &lt;div class=&quot;form-group&quot;&gt;
          br
          |  &lt;label for=&quot;disabledSelect&quot; class=&quot;col-sm-2 control-label&quot;&gt;&lt;/label&gt;
          br
          |  &lt;div class=&quot;col-sm-10&quot;&gt;
          br
          |  &lt;select id=&quot;disabledSelect&quot; class=&quot;form-control&quot;&gt;
          br
          |  &lt;option&gt;Disabled select&lt;/option&gt;
          br
          |  &lt;/select&gt;
          br
          |  &lt;/div&gt;
          br
          |  &lt;/div&gt;
          br
          |  &lt;/fieldset&gt;
          br
          |  &lt;div class=&quot;form-group has-success has-feedback&quot;&gt;
          br
          |  &lt;label class=&quot;col-sm-2 control-label&quot; for=&quot;inputSuccess&quot;&gt;
          br
          |  Input with success and icon&lt;/label&gt;
          br
          |  &lt;div class=&quot;col-sm-10&quot;&gt;
          br
          |  &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;inputSuccess&quot;&gt;
          br
          |  &lt;span class=&quot;glyphicon glyphicon-ok form-control-feedback&quot;&gt;&lt;/span&gt;
          br
          |  &lt;/div&gt;
          br
          |  &lt;/div&gt;
          br
          |  &lt;div class=&quot;form-group has-warning has-feedback&quot;&gt;
          br
          |  &lt;label class=&quot;col-sm-2 control-label&quot; for=&quot;inputWarning&quot;&gt;
          br
          |  Input with warning and icon&lt;/label&gt;
          br
          |  &lt;div class=&quot;col-sm-10&quot;&gt;
          br
          |  &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;inputWarning&quot;&gt;
          br
          |  &lt;span class=&quot;glyphicon glyphicon-warning-sign form-control-feedback&quot;&gt;&lt;/span&gt;
          br
          |  &lt;/div&gt;
          br
          |  &lt;/div&gt;
          br
          |  &lt;div class=&quot;form-group has-error has-feedback&quot;&gt;
          br
          |  &lt;label class=&quot;col-sm-2 control-label&quot; for=&quot;inputError&quot;&gt;
          br
          |  Input with error and icon&lt;/label&gt;
          br
          |  &lt;div class=&quot;col-sm-10&quot;&gt;
          br
          |  &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;inputError&quot;&gt;
          br
          |  &lt;span class=&quot;glyphicon glyphicon-remove form-control-feedback&quot;&gt;&lt;/span&gt;
          br
          |  &lt;/div&gt;
          br
          |  &lt;/div&gt;
          br
          | &lt;/form&gt;
