html
  body
    footer
      a.button.alt(href='#') Input Sizing in Forms.
      p.well
        | Set the heights of input elements using classes like .input-lg and .input-sm.
        br
        br
        | Set the widths of elements using grid column classes like .col-lg-*and .col-sm-*.
      a.button.alt(href='#') Height Sizing
      .wrapper
        p.well
          | &lt;form role=&quot;form&quot;&gt;
          br
          |  &lt;div class=&quot;form-group&quot;&gt;
          br
          |  &lt;label for=&quot;inputdefault&quot;&gt;Default input&lt;/label&gt;
          br
          |  &lt;input class=&quot;form-control&quot; id=&quot;inputdefault&quot; type=&quot;text&quot;&gt;
          br
          |  &lt;/div&gt;
          br
          |  &lt;div class=&quot;form-group&quot;&gt;
          br
          |  &lt;label for=&quot;inputlg&quot;&gt;input-lg&lt;/label&gt;
          br
          |  &lt;input class=&quot;form-control input-lg&quot; id=&quot;inputlg&quot; type=&quot;text&quot;&gt;
          br
          |  &lt;/div&gt;
          br
          |  &lt;div class=&quot;form-group&quot;&gt;
          br
          |  &lt;label for=&quot;inputsm&quot;&gt;input-sm&lt;/label&gt;
          br
          |  &lt;input class=&quot;form-control input-sm&quot; id=&quot;inputsm&quot; type=&quot;text&quot;&gt;
          br
          |  &lt;/div&gt;
          br
          | &lt;/form&gt;
      p.well
        | You can quickly size labels and form controls within a Horizontal form by adding .form-group-* to the &lt;div class=&quot;form-group&quot;&gt; element:
      .wrapper
        p.well
          | &lt;form class=&quot;form-horizontal&quot; role=&quot;form&quot;&gt;
          br
          |  &lt;div class=&quot;form-group form-group-lg&quot;&gt;
          br
          |  &lt;label class=&quot;col-sm-2 control-label&quot; for=&quot;lg&quot;&gt;form-group-lg&lt;/label&gt;
          br
          |  &lt;div class=&quot;col-sm-10&quot;&gt;
          br
          |  &lt;input class=&quot;form-control&quot; type=&quot;text&quot; id=&quot;lg&quot;&gt;
          br
          |  &lt;/div&gt;
          br
          |  &lt;/div&gt;
          br
          |  &lt;div class=&quot;form-group form-group-sm&quot;&gt;
          br
          |  &lt;label class=&quot;col-sm-2 control-label&quot; for=&quot;sm&quot;&gt;form-group-sm&lt;/label&gt;
          br
          |  &lt;div class=&quot;col-sm-10&quot;&gt;
          br
          |  &lt;input class=&quot;form-control&quot; type=&quot;text&quot; id=&quot;sm&quot;&gt;
          br
          |  &lt;/div&gt;
          br
          |  &lt;/div&gt;
          br
          | &lt;/form&gt;
