html
  body
    footer
      a.button.alt(href='#') Jumbotron Inside Container.
      p.well
        | Place the jumbotron inside the &lt;div class=&quot;container&quot;&gt; if you want the jumbotron to NOT extend to the edge of the screen:
      .wrapper
        p.well
          | &lt;div class=&quot;container&quot;&gt;
          br
          |  &lt;div class=&quot;jumbotron&quot;&gt;
          br
          |  &lt;h1&gt;Bootstrap Tutorial&lt;/h1&gt;
          br
          |  &lt;p&gt;Bootstrap is the most popular HTML, CSS, and JS framework for developing
          br
          |  responsive, mobile-first projects on the web.&lt;/p&gt;
          br
          |  &lt;/div&gt;
          br
          |  &lt;p&gt;This is some text.&lt;/p&gt;
          br
          |  &lt;p&gt;This is another text.&lt;/p&gt;
          br
          | &lt;/div&gt;
      a.button.alt(href='#') Jumbotron Outside Container.
      p.well
        | Place the jumbotron outside the &lt;div class=&quot;container&quot;&gt; if you want the jumbotron to extend to the screen edges:
      .wrapper
        p.well
          | &lt;div class=&quot;jumbotron&quot;&gt;
          br
          |  &lt;h1&gt;Bootstrap Tutorial&lt;/h1&gt;
          br
          |  &lt;p&gt;Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive,
          br
          |  mobile-first projects on the web.&lt;/p&gt;
          br
          | &lt;/div&gt;
          br
          | &lt;div class=&quot;container&quot;&gt;
          br
          |  &lt;p&gt;This is some text.&lt;/p&gt;
          br
          |  &lt;p&gt;This is another text.&lt;/p&gt;
          br
          | &lt;/div&gt;
