doctype html
html
  head
    meta(charset='UTF-8')
    title mobile layout
    link(rel='stylesheet', href='css/style.css')
  body
    .container
      #carousel
        iframe(src='app-main.html', height='706', width='395')
    div(style='clear: both;')
    .middle
      h3(style='text-align:center;margin:50px') 2016 Ben Eaves
      .iphone
      |     
      script(src='js/jquery.js')
      script(src='js/index.js')
